@charset "utf-8";
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#container{
  width: 1000px;
  margin: 0 auto;

}

header{
  height: 100px;
  background-color: beige;
}

section{
  width: 70%;
  float: left;
  height: 600px;
  background-color: aquamarine;
}

aside{
  width: 30%;
  float: right;
  height: 600px;
 background-color:  cornflowerblue;
}

footer{
  clear: both;
  height: 100px;
  background-color: brown;
}