@charset "utf-8";
/* 모바일 기준 */
*{
  margin: 0;
  padding: 0;
}

#container{
  width: 100%;
  margin: 0 auto;
  background-color: bisque;
}
header{
  height: 100px;
  border: 3px solid white;
}
main{
  height: 600px;
  border: 3px solid white;
}
footer{
  height: 100px;
  border: 3px solid white;
}

@media screen and (min-width: 768px){
  #container{
    background-color: aqua;
  }
}
@media screen and (min-width: 1024px){
  #container{
    background-color: coral;
  }
}