@charset "utf-8";

#container{
  width: 1000px;
  height: 80px;
  margin: 0 auto;
  background-color: cornflowerblue;
}

header{
  width: 100%;
  height: 100%;
  line-height: 80px;
}

#logo{
  float: left;
  width: 20%;
  height: 100%;
}
#logo a{
  padding-left: 30px;
}
#logo h1 a{
  color: coral;
}
#logo h1:hover a{
  color: red;
}

header nav{
  float: right;
  width: 80%;
  height: 100%;
}

header nav ul{
  float: right;
  height: 100%;
}

header nav ul li{
  float: left;
}
header nav ul li:hover a{
  color: red;
}

header nav ul li a{
  display: block;
  padding: 0 40px;
}