@charset "utf-8";

*{
  margin: 0;
  padding: 0;
}

body{
  /* vh : view-height(높이의 100분의 1) */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* background-color: gray; */
}

#container{
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 15px;
}
#container div{
  margin: 10px;;
}
#today{
  font-weight: 800;
  font-size: 2em;
}
#clock{
  font-size: 1.3em;
}